```text
numpy
pandas
scipy
openpyxl
PyYAML

geopandas
rasterio
rioxarray
xarray
shapely
fiona
pyproj
rasterstats
contextily

scikit-learn
xgboost
joblib

matplotlib
seaborn

jupyterlab
notebook
ipykernel
tqdm

pytest
black
flake8
```
